h1{
background-color: cornflowerblue;
color: black;
border: 3px solid red;
text-align: center;
border-radius: 20px;
}
.a1{
background-color: yellow;
color: black;
}
.a2{
color: red;
}
.s1{
color: green;
}
.s2{
color: red;
}
.s3{
color: yellow;
}
.s4{
color: green;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
text-align: center;
}
caption{
background-color: yellow;
}
td{
background-color: green;
border: 1px solid white;
}
th{
background-color: blueviolet;
border: 1px solid white;
}
.c1,.c2,.c3,.c4{
background-color: green;
}
button{
background-color: rgb(0, 240, 0);
width: 200px;
}
.i1{
width: 500px;
}
.i2{
width: 500px;
}
.i3{
width: 500px;
}
.i4{
width: 500px;
}